<p>http-get works!</p>
<table>
<tr><td>Index</td>
<td>ID</td>
<td>Name</td>
</tr>
<tr *ngFor="let user of users; ; index as i;">
<td>{{i+1}}</td>
<td>{{user.id}}</td>
<td>{{user.name}}</td>
</tr>
</table>

<ng-template [ngIf]="isDone"><div>Content to render when isDone is true.</div></ng-template>

    <div *ngIf="isDone">Div to render when isDone is true.</div>

<div *ngIf="isValid; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Content to render when condition is true.</ng-template>
<ng-template #elseBlock>Content to render when condition is false.</ng-template>
